h1, div {
	font-family: 'Audiowide';
}

div {
	text-align: center;
}

body, div {
	background-image: radial-gradient(#A1D0C7, #3982A5);
}

button {
	background: #A1D0C7;
}

button:active {
	background: white;
}

/* unvisited link */
a:link {
	color: #3982A5;
}

/* visited link */
a:visited {
	color: #3982A5;
}

/* mouse over link */
a:hover {
	color: #A1D0C7;
}

/* selected link */
a:active {
	color: white;
}